<html>
    <head>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <title>{{ project.getName }}</title>
    </head>
    <body>
        <h1>Hi! I'm glad you have time to work on something.</h1>
        <p>Let me remind you of your motivation for this project:</p>
        <p><strong>{{ project.getMotivation }}</strong></p>

        <p>You're doing great so far.</p>

        <p>{{ project.getSteps|length - project.getIncompleteSteps|length }}
            steps of {{ project.getSteps|length }} steps are complete.</p>
            
        {% include 'coach/partials/project_progress_bar.html.twig' %}

        {# we should format the date nicer than this... twig has some options #}
        <p>Your project is due on {{ project.getDueDate }}</p>

        <a href='/coach/active_project/{{ project.getId }}/next_step'>
            I'm ready to get started!
        </a>


    </body>
</html>
