<html>
    <head>
        <title>{{ project.getName }}: Next Step</title>
    </head>
    <body>
        <p>Your next uncompleted step on this project is:</p>

        {# we don't have this method yet... so just display placeholder #}
         {{ next_step.getPosition }}. {{ next_step.getDescription }}

         <p>
             Are you confident that you can complete this step today?
         </p>
         <a href="/coach/active_project/{{ project.getId }}/complete">Yep!</a>
         <a href="/coach/active_project/{{ project.getId }}/reorder_steps">Not totally...</a>
    </body>
</html>
