<html>
    <head>
        <title>{{ project.getName }}: {{ step.getDescription }}</title>
        {# re-direct to project complete page if completing this last step finished the project #}
        {% if project.getComplete == true %}
            <meta http-equiv="refresh" content="2;URL=/coach/active_project/{{ project.getId }}/project_complete">
        {% endif %}
    </head>
    <body>
        {# only display this stuff if the project is not yet complete #}
        {% if project.getComplete == false %}

            <h1>Great. Glad you feel confident you can complete {{ step.getDescription }}.</h1>
            <p>Let me know when you've finished it.</p>

            <form action="/coach/active_project/{{ project.getId }}/complete" method="post">
                <input type="hidden" name="step_id" value="{{ step.getId }}">
                <input type="checkbox" name="complete" value="true" onchange="this.form.submit();"
                     {% if step.getComplete == true %} checked{% endif %}>
                 I finished this step!!!!!!
            </form>

            {# Only display next step link if this step is complete. #}
            {% if step.getComplete == true %}
                <p><a href="/coach/active_project/{{ project.getId }}/next_step">
                    I'm ready for the next step.
                </a></p>
            {% endif %}

            <p><a href="/coach/active_project/{{ project.getId }}/enough">That's enough for right now.</a></p>
        {% else %}
            Yay you completed the project!
        {% endif %}

    </body>
</html>
